@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&family=Ubuntu:wght@300&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; */

body{
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: #c9ada7; */
}
.error::before{
    background-color: rgba(255, 41, 41, 0.3);
    font-weight: bold;
    border: 1px magenta solid;
    padding: .5em;
    font-size: .75rem;
    content: 'Date is empty or Gender is not picked';
}

/* Typography */
h1{
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}
h2{
    font-size: 1rem;
    font-weight: 600;
    margin: 1em;
}
small{
    background-color: cyan;
    padding: 0.5em;
}

/* layout */
header{
    padding: 2em 0;
    background: #f2e9e4;
}

.details{
    border: 2px #f8f8f8 solid;
    background: #f2e9e4;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    margin: 2em 0;
    padding: 2em;
}
