@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,500&family=Ubuntu:wght@300&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif; */

body{
    width: 90%;
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
}

/* Typography */
h1{
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
}
h2{
    font-size: 1rem;
    font-weight: 600;
    margin: 1em;
}

/* layout */
header{
    padding: 2em 0;
    background: #f8f8f8;
    border: 2px magenta solid;
}
.background {
   border: 2px black solid
}